<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header">

<nav class="navbar navbar-expand-lg fixed-top nav-down navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="https://localhost:8080/home" th:href="@{/}" title="Inn Diary" data-placement="bottom" target="_self">
                Inn
            </a>
            <th:block th:if="${sessionUser != null}">
                <h5 class="navbar-brand"> [[${sessionUser.name}]] 님 </h5>
                <a class="navbar-brand" href="index.html" th:href="@{/logout}">로그아웃</a>
            </th:block>
            <th:block th:unless="${sessionUser != null}">
                <a class="navbar-brand" href="index.html" th:href="@{/account}">로그인</a>
            </th:block>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="./assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item">
                    <a href="index.html" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                        저장 슬롯 관리 </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a href="./slot/slots.html"  th:href="@{'/slots'}" class="dropdown-item">
                            슬롯보기
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="index.html" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                        일기 </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a href="./index.html" th:href="@{'/diaries/calendars'}" class="dropdown-item">
                            달력형
                        </a>
                        <a href="./index.html" th:href="@{'/diaries/lists'}" class="dropdown-item">
                            목록형
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="index.html" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                        할 일 </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a href="./index.html" th:href="@{'/todos/calendars'}" class="dropdown-item">
                            달력형
                        </a>
                        <a href="./index.html" th:href="@{'/todos/lists'}" class="dropdown-item">
                            목록형
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

</th:block>